
.page-header {
    margin-left: 15%;
    margin-top: 2%;
}

.panel {
    margin-left: 15%;
    margin-right: 15%;
}

.form-group {
    width: 80%;
}

.btn {
    margin-left: 1%;
    margin-top: 1.5%;
    padding-left: 5%;
    padding-right: 5%;
}

#report {
    visibility: hidden;
}

#error {
    display: none;
}

#graph {
    margin-top: 5%;
    margin-right: auto;
}
