<div ng-app="myApp" ng-controller="tweetsCtrl">

    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">Parametri di ricerca</h2>
        </div>
        <div class="panel-body">
            <form>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="authorForm">Autore</label>
                        <input type="text" class="form-control" id="authorForm" ng-model="author">
                    </div>
                    <div class="form-group">
                        <label for="tagForm">Tag</label>
                        <input type="text" class="form-control" id="tagForm" ng-model="tag">
                    </div>
                    <div class="form-group">
                        <label for="keywordForm">Contenenti le seguenti parole</label>
                        <input type="text" class="form-control" id="keywordForm" ng-model="words">
                    </div>
                    <div class="form-group">
                        <label for="notKeywordsForm">Non contenente le seguenti parole</label>
                        <input type="text" class="form-control" id="notKeywordsForm" ng-model="notwords">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="languageForm">Lingua</label>
                        <select class="form-control" id="languageForm" ng-model="lang">
                            <option>it</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sinceDateForm">Dalla data</label>
                        <input type="date" class="form-control" id="sinceDateForm" ng-model="sinceDate">
                    </div>
                    <div class="form-group">
                        <label for="toDateForm">Alla data</label>
                        <input type="date" class="form-control" id="toDateForm" ng-model="toDate">
                    </div>
                </div>
                <div>
                    <input type="checkbox" ng-model="noURL.value"/> No URL
                    <input type="checkbox" ng-model="noMedia.value"/> No Media
                </div>
                <input class="btn btn-primary" type="Submit" value="Analizza" ng-click="getTweets()">
                <button class="btn btn-primary"  ng-click="test()">Test</button>


            </form>
        </div>
    </div>

    <div id="report" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Report</h3>
        </div>
        <div class="panel-body">

            <div class="col-xs-6">
                <div id="graph"></div>
            </div>
            <div class="col-xs-6">
                <h2>{{result}}</h2>
                <table class="table table-striped">
                    <tr class="active">
                        <td>Totali esaminati</td>
                        <td>{{total}}</td>
                    </tr>
                    <tr class="success">
                        <td>Positivi</td>
                        <td>{{positive}}</td>
                    </tr>
                    <tr class="danger">
                        <td>Negativi</td>
                        <td>{{negative}}</td>
                    </tr>
                </table>

                <h5>Esempio positivo</h5>
                <p class="bg-success"> {{esPositive}}</p>

                <h5>Esempio negativo</h5>
                <p class="bg-danger"> {{esNegative}}</p>

            </div>
        </div>
    </div>




</div>